@keyframes autoScrollRight {
  
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); 
  }
}

.auto-scroll-container {
  animation: autoScrollRight 30s linear infinite;
  
  width: max-content; 
 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}